/* OrdersManagement.css */

.orders-management-container {
  padding: 20px;
  padding-bottom: 70px; /* Add some padding at the bottom to make space for the bottom navigation */
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

h1 {
  font-size: x-large;
  position: relative;
  bottom: 10px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  margin-top: 20px; /* Add margin to create space between the orders and bottom navigation */
  animation: slide-up 0.5s ease forwards;
}

.nav-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #0056b3;
}

/* Animation */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
